<div class="container">
        <h1>My home page</h1>
        <p>check out my blog</p>
        <%= link_to "About Me", pages_about_path, class:"btn btn-secondary"%>
        <%= link_to "Blog", posts_path, class:"btn btn-primary" %>
</div>

